:root {
  --shadow-color: 0deg 0% 63%;
  --shadow-elevation-low:
    0.3px 0.5px 0.8px hsl(var(--shadow-color) / 0.08),
    0.5px 0.9px 1.5px -0.3px hsl(var(--shadow-color) / 0.25),
    1px 2px 3.2px -0.5px hsl(var(--shadow-color) / 0.43);
  --shadow-elevation-medium:
    0.3px 0.5px 0.8px hsl(var(--shadow-color) / 0.08),
    1.1px 2.3px 3.6px -0.2px hsl(var(--shadow-color) / 0.22),
    2.4px 4.7px 7.5px -0.4px hsl(var(--shadow-color) / 0.36),
    5px 10px 15.8px -0.5px hsl(var(--shadow-color) / 0.5);
  --shadow-elevation-high:
    0.3px 0.5px 0.8px hsl(var(--shadow-color) / 0.07),
    2.3px 4.7px 7.4px -0.1px hsl(var(--shadow-color) / 0.14),
    4.2px 8.4px 13.3px -0.2px hsl(var(--shadow-color) / 0.2),
    6.2px 12.5px 19.8px -0.2px hsl(var(--shadow-color) / 0.27),
    8.9px 17.8px 28.2px -0.3px hsl(var(--shadow-color) / 0.34),
    12.6px 25.3px 40.1px -0.4px hsl(var(--shadow-color) / 0.4),
    17.9px 35.7px 56.6px -0.5px hsl(var(--shadow-color) / 0.47),
    25px 50px 79.2px -0.5px hsl(var(--shadow-color) / 0.53);
}

body {
  font-family: "Mozilla Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
  display: flex;
  justify-content: center;
  margin-left: 5vw;
  margin-top: 5vh;
  width: 90vw;
}

main {
  margin: 0 5vw 5vh 5vw;
}

#skull {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 30vw;
  width: 30vw;
  font-size: 3rem;
  color: white;
  background-image: url("./assets/skull-sq.jpg");
}

#aboutMe {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 60vw;
  margin: 10% 0;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2.5vw;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  height: 40vh;
  box-shadow: var(--shadow-elevation-medium);
}

.projectImg {
  height: 70%;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
}

.details {
  height: 45%;
  margin: 5%;
}

.lineOne {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.svgContainer {
  display: flex;
  flex-direction: row;
}

.icons {
  display: flex;
  flex-direction: row;
}

.top {
  justify-content: flex-end;
}

i {
  font-size: 1.5rem;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(45deg, #6e00ff, #f0ecf4);
  color: white;
  padding: 5vh 5vw;
}

.addressLine {
  display: flex;
  flex-direction: row;
}

.whiteSvg {
  filter: invert(100%) sepia(43%) saturate(10%) hue-rotate(173deg)
    brightness(102%) contrast(104%);
}

.diagonal-box {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(45deg, #6e00ff, #f0ecf4);
  transform: translateY(-33vh) skewY(-8deg);
  height: 80vh;
  z-index: -1;
}

#skeletonVert {
  width: 100vw;
  height: 160px;
  background-image: url("./assets/skeleton-rect.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {
  header,
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  header {
    margin-left: 5vw;
  }

  .leftAddress > * {
    margin: 15px 0;
  }

  #skull {
    width: 90vw;
    height: 90vw;
    margin-top: 5vw;
    background-size: cover;
  }

  #aboutMe {
    box-shadow: 0px;
    margin: 30px 0 50px 0;
    width: 90vw;
  }

  main {
    margin: 0 5vw 30vw 5vw;
  }

  h1,
  .top {
    text-align: center;
    justify-content: center;
  }

  .diagonal-box {
    height: 50vh;
  }

  ol {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    /* margin: 0; */
  }

  li {
    margin: 5vw 0;
  }

  #skeletonVert {
    width: 100vw;
    height: 160px;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  #skull {
    z-index: 1;
    float: left;
  }

  #skull {
    justify-content: flex-start;
    padding-left: 300px;
    background-size: contain;
    text-wrap: nowrap;
  }

  #aboutMe {
    height: 400px;
    margin-left: -200px;
    padding-left: 200px;
    float: right;
  }

  ol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 2fr);
  }

  #skeletonVert {
    width: 45vw;
    height: 30vw;
  }
}

@media (min-width: 1025px) {
  #aboutMe {
    box-shadow: var(--shadow-elevation-medium);
  }

  #skeletonVert {
    width: 45vw;
    height: 30vw;
  }

}
